.App{  
  height: 100vh;  
}  

.navBar {
  background-color: rgb(250, 152, 61);
  color: white;
  height: auto;
  font-size: 36px;
  padding: 10px;
  overflow: hidden;
}
.nav-heading{
  margin-top: 8px;
  float: left;
  
}
.nav-logo{
  float: left;
}
.tempButton{
  float: left;
  font-size: 16px;
  color: #000;   
}

.celsius{
  width: 44px;
  float:right;
  background-color: rgb(97, 147, 212);
  padding: 8px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom: 2px solid rgb(97, 147, 212);
}

.celsius:hover{
  cursor: pointer;
  opacity: 0.75;
}

.fahrenheit:hover{
  cursor: pointer;
  opacity: 0.75;
}

.fahrenheit{
  width: 44px;
  float: right;
  background-color: #ddd;
  padding: 8px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 2px solid #bbb;
}

.title{
  text-align: center;
  color: rgb(238, 168, 103);
  margin-top: 20px;
}

.weatherBox{  
  width: 30%;
  height: auto;
  float: left;
  margin: 0px 50px 0px 50px;
  padding: 40px;
  font-size: 16px; 
  clear: both;    
}

.weather-table{
  border: 1px solid #ddd;
}

.weather-item-detail:nth-child(2n+1){
  background-color: #f9f9f9;
}

.weather-item-detail td{
  border: 1px solid #ddd;
  padding: 5px;
  text-align: left;
}

.forecast-list{
  float: left;
  margin-top: 20px;
  width: 50%;
}

.forecast-list-item{
  border: 1px solid black;  
  width: 130px;
  text-align: center;
  display: inline-block;
 
  margin: 5px;
  padding: 5px;
  background-color: #f9f9f9;
  border-radius: 5px;
}
.map-box{
  /*border: 1px solid blue;
  height: auto;*/
  
}

#map{  
  width: 50%;
  height: 50vh;
  margin-top: 30px;
  border: 1px solid black;
  float: left; 
  overflow: hidden;
  position: relative;     
}
.map-menu{
  position: absolute;
  z-index: 10;
  right: 0;
  width: 80px;     
}

.map-menu:hover{
  width: auto;
}
.map-menu-item{  
  font-size: 12px;  
  text-align: right;
  padding: 8px;    
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  opacity: 0.65;      
}

.map-menu-item:hover{
  cursor: pointer;
  opacity: 1;    
}

li{
  list-style: none;
}

hr {
  width: 90%;
}

.footer{  
  background-color: rgb(250, 152, 61);
  padding: 5px;
  color: white;
  clear: both;
  font-size: 12px;
}

.search-container{
  width: 100%;
}
